# Specific project directories
task/crypto_data/__pycache__/
task/venv/
task/crypto_data/.env

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
task/crypto_data/*.log
task/crypto_data/*.sqlite
task/crypto_data/*.db

# Excel and PDF files
task/crypto_data/*.xlsx
task/crypto_data/*.xls
task/crypto_data/*.pdf

# System files
.DS_Store
Thumbs.db